{% extends "base_layout.html" %}

{% block title %}
Admin Overview Dashboard
{% endblock %}

{% block main %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endwith %}



<div>

  <h2 class="my-10 font-medium text-xl">Admin Dashboard</h2>

  <div class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-6">
    <div class="shadow-md ">
      <div class="flex">
        <img src="{{ url_for('static', filename='images/project-c.png') }}" class="w-24 bg-gray-50 p-3 rounded-l-md"
          alt="">
        <div class="text-white bg-[#DF7A5E] p-3 w-full rounded-r-md">
          <h5 class="font-medium text-xl">Total Projects</h5>
          <h2 class="text-2xl font-bold mt-3">{{ total_unique_projects }}</h2>
        </div>
      </div>
    </div>
  
  
    <div class="shadow-md ">
      <div class="flex items-center">
        <img src="{{ url_for('static', filename='images/track-c.png') }}"
          class="w-24 h-24 bg-gray-50 p-3 rounded-l-md" alt="">
        <div class="text-white bg-[#3D405B] p-3 w-full rounded-r-md">
          <h5 class="font-medium text-xl">Total Epics</h5>
          <h2 class="text-2xl font-bold mt-3">{{ total_unique_epics }}</h2>
        </div>
      </div>
    </div>
  
  
    <div class="shadow-md ">
      <div class="flex">
        <img src="{{ url_for('static', filename='images/story-c.png') }}" class="w-24 bg-gray-50 p-3 rounded-l-md"
          alt="">
        <div class="text-white bg-[#80B29A] p-3 w-full rounded-r-md">
          <h5 class="font-medium text-xl">Total Stories</h5>
          <h2 class="text-2xl font-bold mt-3">{{ total_unique_stories }}</h2>
        </div>
      </div>
    </div>
  
    <div class="shadow-md ">
      <div class="flex">
        <img src="{{ url_for('static', filename='images/epics-c.png') }}" class="w-24 bg-gray-50 p-3 rounded-l-md"
          alt="">
        <div class="text-white bg-[#1E7A8C] p-3 w-full rounded-r-md">
          <h5 class="font-medium text-xl">Total SubTasks</h5>
          <h2 class="text-2xl font-bold mt-3">{{ total_unique_subtasks }}</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="grid md:grid-cols-3 grid-cols-1 gap-7 mt-16 mb-4">
    <div class="w-full bg-white rounded-md p-3 shadow-md md:col-span-2">
      <h3 class="font-medium text-xl">No. of SubTasks for the Past 30 Days</h3>
      <div id="subtask_fig" class="w-full" style="height: 400px;"></div>
      <script>
        var subtask_fig = {{ subtask_fig_json| safe }};
        Plotly.newPlot('subtask_fig', subtask_fig.data, subtask_fig.layout);
      </script>
    </div>
  
    <div class="w-full bg-white rounded-md p-3 shadow-md">
      <h3 class="font-medium text-xl">User Role</h3>
      <div id="user_role" class="w-full" style="height: 400px;"></div>
      <script>
        var user_role = {{ user_role_json| safe }};
        Plotly.newPlot('user_role', user_role.data, user_role.layout);
      </script>
    </div>
  </div>
</div>

</div>
{% endblock %}