{% extends 'base_layout.html' %}

{% block title %}
Projects Home
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endwith %}




<!-- Breadcrumb -->
<nav class="flex text-gray-700 shadow-none p-0 border-b pb-3 bg-transparent" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="{{ url_for('show_user_home') }}"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg>
        Dashboard
      </a>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Projects</span>
      </div>
    </li>
  </ol>
</nav>


<div class="mt-4">


  <div class="flex justify-between items-center mb-4">
    <div class="text-xl uppercase font-bold">
      <h2>Projects List</h2>
    </div>
    {% if user.User_Role not in ['Manager', 'Member', 'Team Lead'] %}
    <div class="">
      <form action="{{ url_for('add_project') }}" method="GET" style="text-align: right;">
        <button type="submit" class="py-2 px-3 rounded-md shadow-md text-sm text-white bg-[#28A745]">Add a
          Project</button>
      </form>
    </div>
    {% endif %}
  </div>
    <div class="relative overflow-x-auto rounded-md border" style="height: 420px;">
      <table class="w-full text-sm text-left text-black tableFixHead">
        <thead class="text-xs text-white uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Project ID</th>
            <th scope="col" class="px-6 py-3">Project Name</th>
            <th scope="col" class="px-6 py-3">Project Owner</th>
            <th scope="col" class="px-6 py-3">Project Manager</th>
            <th scope="col" class="px-6 py-3">Created By</th>
            <th scope="col" class="px-6 py-3">Members</th>
            <th scope="col" class="px-6 py-3">Start Date</th>
            <th scope="col" class="px-6 py-3">End Date</th>
            <th scope="col" class="px-6 py-3">Creation Date</th>
            {% if user.User_Role == 'Admin' %}
            <th scope="col" class="px-6 py-3">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="table_body">
          {% for project in projects %}
          <tr class="border-b w-full">
            <th scope="row" class="px-6 py-4">{{ project.id }}</th>
            <td class="px-6 py-4"><a href="{{ url_for('project_details', project_id=project.id) }}"
                class="text-blue-500 uppercase font-medium">{{ project.ProjectName }}</a></td>
            <td class="px-6 py-4">{{ project.ProjectOwner }}</td>
            <td class="px-6 py-4">{{ project.ProjectManager.split('@')[0].lower() }}</td>
            <td class="px-6 py-4">{{ project.CreatedBy.split('@')[0].lower() }}</td>
            <td class="px-6 py-4">
              {% set members = project.Members.split(',') %}
              {% for member in members %}
              {{ member.split('@')[0] }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td class="px-6 py-4">{{ project.StartDate }}</td>
            <td class="px-6 py-4">{{ project.EndDate }}</td>
            <td class="px-6 py-4">{{ project.CreationDate.date() }}</td>
            {% if user.User_Role == 'Admin' %}
            <td class="px-6 py-4">
              <form action="{{ url_for('delete_project', project_id=project.id) }}" method="POST">
                <button type="submit" class="text-red-500">Delete</button>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>
{% endblock %}
