{% extends "base_layout.html" %}

{% block title %}
{{ project_name }} - Project Details
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endwith %}


<!-- Breadcrumb -->
<nav class="flex text-gray-700 shadow-none p-0 border-b pb-3 bg-transparent my-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3 capitalize">
    <li class="inline-flex items-center">
      <a href="{{ url_for('show_user_home') }}"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a href="{{ url_for('show_projects') }}"
          class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2">Projects</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">{{ project_name }} - Project Details</span>
      </div>
    </li>
  </ol>
</nav>

<div class="flex justify-between items-center my-4">
  <h3 class="uppercase font-bold">{{ project_name }} - Project Details</h3>
  {% if user.User_Role not in ['Manager', 'Member', 'Team Lead'] %}
  <div>
    <form action="{{ url_for('update_project', project_id=project.id) }}" method="GET" style="text-align: right;">
      <button type="submit" class="py-2 px-3 rounded shadow text-sm bg-[#FFC007] capitalize">Update {{
        project.ProjectName
        }}</button>
    </form>
  </div>
  {% endif %}
</div>


<div class="grid md:grid-cols-2 grid-cols-1 md:gap-4 gap-1 md:mb-5 mb-3 ">
  <div class="">
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold text-[#264653]">Start Date : <span class="font-normal text-black">{{ project.StartDate
          }}</span></h5>
    </div>
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold  text-[#264653]">End Date : <span class="font-normal text-black">{{ project.EndDate }}</span>
      </h5>
    </div>
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold  text-[#264653]">Creation Date : <span class="font-normal text-black">{{
          project.CreationDate.date() }}</span></h5>
    </div>
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold  text-[#264653]">Created By : <span class="font-normal text-black">{{
          project.CreatedBy.split('@')[0].lower() }}</span></h5>
    </div>

    <div class="bg-white text-black p-3 shadow-sm rounded">
      <h5 class="font-bold text-[#264653]">Members : <span
          class="font-normal text-black whitespace-break-spaces py-2 overflow-x-scroll">
          {% set members = project.Members.split(',') %}
          {% for member in members %}
          {{ member.split('@')[0] }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </span></h5>
    </div>
  </div>
  <div class="">
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold text-[#264653]">Project Owner : <span class="font-normal text-black">{{ project.ProjectOwner
          }}</span></h5>
    </div>
    <div class="bg-white text-black p-3  mb-1 shadow-sm rounded">
      <h5 class="font-bold text-[#264653]">Project Manager : <span class="font-normal text-black">{{
          project.ProjectManager.split('@')[0].lower() }}</span></h5>
    </div>
    <div class="bg-white text-black p-3 shadow-sm rounded">
      <h5 class="font-bold text-[#264653] pb-2">Project Description</h5>
      <p class=" overflow-y-scroll text-justify pr-4 leading-7" style="height: 103px;">{{ project.ProjectDescription }}
      </p>
    </div>
  </div>
</div>




<div class="flex justify-between items-center  mt-12 mb-4">
  <h2 class="uppercase font-bold">Epics in {{ project_name }} - Project</h2>
  {% if user.User_Role not in ['Member', 'Team Lead'] %}
  <form action="{{ url_for('add_epic', project_id=project.id) }}" method="GET" style="text-align: right;">
    <button type="submit" class="py-2 px-3 text-white rounded shadow text-sm bg-green-600">Add Epic to {{
      project.ProjectName }}</button>
  </form>
  {% endif %}
</div>




<div class="relative overflow-x-auto" style="height: 420px;">
  <table class="w-full text-sm text-left text-gray-500 tableFixHeader">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
      <tr>
        <th scope="col" class="px-6 py-3">Epic ID</th>
        <th scope="col" class="px-6 py-3">Epic Name</th>
        <th scope="col" class="px-6 py-3">Epic Description</th>
        <th scope="col" class="px-6 py-3">Created By</th>
        <th scope="col" class="px-6 py-3">Start Date</th>
        <th scope="col" class="px-6 py-3">End Date</th>
        <th scope="col" class="px-6 py-3">Creation Date</th>
        {% if user.User_Role not in ['Member', 'Team Lead'] %}
        <th scope="col" class="px-6 py-3">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="table_body">
      {% for epic in epics %}
      <tr class=" border-b">
        <th scope="row" class="px-6 py-4">{{ epic.id }}</th>
        <td class="px-6 py-4">
          <a href="{{ url_for('epic_details', epic_id=epic.id) }}" class="text-blue-500 uppercase font-medium">{{
            epic.EpicName }}
          </a>
        </td>
        <td class="px-6 py-4">{{ epic.EpicDescription | truncate(50, True, '...') }}</td>
        <td class="px-6 py-4">{{ epic.CreatedBy.split('@')[0].lower() }}</td>
        <td class="px-6 py-4">{{ epic.StartDate }}</td>
        <td class="px-6 py-4">{{ epic.EndDate }}</td>
        <td class="px-6 py-4">{{ epic.CreationDate.date() }}</td>
        {% if user.User_Role not in ['Member', 'Team Lead'] %}
        <td class="px-6 py-4">
          <form action="{{ url_for('delete_epic', project_id=project.id,epic_id=epic.id) }}" method="POST"
            onsubmit="return confirm('Are you sure you want to delete this Epic?');">
            <button type="submit" class="btn btn-danger btn-sm bg-red-500">Delete</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
