{% extends "base_layout.html" %}

{% block title %}
View Sub Task Status
{% endblock %}

{% block main %}
<div>


  <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist" style="justify-content: center;">
    <li class="nav-item">
      <a class="nav-link active bg-danger" id="tab1" data-toggle="tab" href="#tab-content1">Incomplete Subtasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-warning mx-2" id="tab2" data-toggle="tab" href="#tab-content2">Subtasks In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success" id="tab3" data-toggle="tab" href="#tab-content3">Completed Subtasks</a>
    </li>
  </ul>



  <!-- Table content for Tab 1 -->
  <div class="tab-content my-4">
    <div class="tab-pane fade show active" id="tab-content1">
      <div class="relative overflow-x-auto" style="height: 420px;">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3">Subtask ID</th>
              <th scope="col" class="px-6 py-3">Subtask Name</th>
              <!-- <th scope="col" class="px-6 py-3">Subtask Description</th> -->
              <th scope="col" class="px-6 py-3">Assigned To</th>
              <th scope="col" class="px-6 py-3">Start Date</th>
              <th scope="col" class="px-6 py-3">End Date</th>
              <th scope="col" class="px-6 py-3">Created By</th>
              <th scope="col" class="px-6 py-3">Creation Date</th>
              <th scope="col" class="px-6 py-3">Status</th>
            </tr>
          </thead>
          <tbody class="table_body">
            {% for i_subtask in incomplete_subtasks %}
            <tr class="border-b">
              <th scope="row" class="px-6 py-4">{{ i_subtask.id }}</th>
              <td class="px-6 py-4">{{ i_subtask.SubtaskName }}</td>
              <!-- <td class="px-6 py-4">{{ i_subtask.SubtaskDescription }}</td> -->
              <td class="px-6 py-4">{{ i_subtask.AssignedTo }}</td>
              <td class="px-6 py-4">{{ i_subtask.StartDate }}</td>
              <td class="px-6 py-4">{{ i_subtask.EndDate }}</td>
              <td class="px-6 py-4">{{ i_subtask.CreatedBy.split('@')[0].lower() }}</td>
              <td class="px-6 py-4">{{ i_subtask.CreationDate.date() }}</td>
              <td class="px-6 py-4">{{ i_subtask.Status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>



    <!-- Table content for Tab 2 -->
    <div class="tab-pane fade" id="tab-content2">
      <div class="relative overflow-x-auto" style="height: 420px;">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3">Subtask ID</th>
              <th scope="col" class="px-6 py-3">Subtask Name</th>
              <!-- <th scope="col" class="px-6 py-3">Subtask Description</th> -->
              <th scope="col" class="px-6 py-3">Assigned To</th>
              <th scope="col" class="px-6 py-3">Start Date</th>
              <th scope="col" class="px-6 py-3">End Date</th>
              <th scope="col" class="px-6 py-3">Created By</th>
              <th scope="col" class="px-6 py-3">Creation Date</th>
              <th scope="col" class="px-6 py-3">Status</th>
            </tr>
          </thead>
          <tbody class="table_body">
            {%for p_subtask in in_progress_subtasks %}
            <tr class="border-b">
              <th scope="row" class="px-6 py-4">{{ p_subtask.id }}</th>
              <td class="px-6 py-4">{{ p_subtask.SubtaskName }}</td>
              <!-- <td class="px-6 py-4">{{ p_subtask.SubtaskDescription }}</td> -->
              <td class="px-6 py-4">{{ p_subtask.AssignedTo }}</td>
              <td class="px-6 py-4">{{ p_subtask.StartDate }}</td>
              <td class="px-6 py-4">{{ p_subtask.EndDate }}</td>
              <td class="px-6 py-4">{{ p_subtask.CreatedBy.split('@')[0].lower() }}</td>
              <td class="px-6 py-4">{{ p_subtask.CreationDate.date() }}</td>
              <td class="px-6 py-4">{{ p_subtask.Status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>



    <!-- Table content for Tab 3 -->
    <div class="tab-pane fade" id="tab-content3">
      <div class="relative overflow-x-auto" style="height: 420px;">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3">Subtask ID</th>
              <th scope="col" class="px-6 py-3">Subtask Name</th>
              <!-- <th scope="col" class="px-6 py-3">Subtask Description</th> -->
              <th scope="col" class="px-6 py-3">Assigned To</th>
              <th scope="col" class="px-6 py-3">Start Date</th>
              <th scope="col" class="px-6 py-3">End Date</th>
              <th scope="col" class="px-6 py-3">Created By</th>
              <th scope="col" class="px-6 py-3">Creation Date</th>
              <th scope="col" class="px-6 py-3">Status</th>
            </tr>
          </thead>
          <tbody class="table_body">
            {%for c_subtask in completed_subtasks %}
    
            <tr class=" border-b">
              <th scope="row" class="px-6 py-4">{{ c_subtask.id }}</th>
              <td class="px-6 py-4">{{ c_subtask.SubtaskName }}</td>
              <!-- <td class="px-6 py-4">{{ c_subtask.SubtaskDescription }}</td> -->
              <td class="px-6 py-4">{{ c_subtask.AssignedTo }}</td>
              <td class="px-6 py-4">{{ c_subtask.StartDate }}</td>
              <td class="px-6 py-4">{{ c_subtask.EndDate }}</td>
              <td class="px-6 py-4">{{ c_subtask.CreatedBy.split('@')[0].lower() }}</td>
              <td class="px-6 py-4">{{ c_subtask.CreationDate.date() }}</td>
              <td class="px-6 py-4">{{ c_subtask.Status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
{% endblock %}