{% extends "base_layout.html" %}

{% block title %}
Update Subtask - {{ subtask.SubtaskName }}
{% endblock %}

{% block main %}

<h2 class="text-center text-xl uppercase font-bold mb-6">Update - {{ subtask.SubtaskName }}</h2>

<form method="POST" action="{{ url_for('update_subtask', subtask_id=subtask.id) }}"
  class="max-w-screen-sm mx-auto my-0 bg-white p-3 rounded-md shadow-sm">

  <div class="mb-3">
    <label for="SubtaskName" class="block mb-2 text-sm font-medium text-gray-900">Subtask Name <span
        class="text-red-600">*</span></label>
    <input type="text" id="SubtaskName" name="SubtaskName"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      value="{{ subtask.SubtaskName }}" required>
  </div>

  <div class="mb-3">
    <label for="SubtaskDescription" class="block mb-2 text-sm font-medium text-gray-900">Subtask Description <span
        class="text-red-600">*</span></label>
    <textarea id="SubtaskDescription" name="SubtaskDescription" rows="5"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>{{ subtask.SubtaskDescription }}</textarea>
  </div>

  <div class="flex items-center md:flex-row flex-col mb-3">
    <div class="w-full md:mb-0 mb-3">
      <label for="CreatedBy" class="block mb-2 text-sm font-medium text-gray-900">Created By <span
          class="text-red-600">*</span></label>
      <input type="text" id="CreatedBy" name="CreatedBy"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        value="{{ created_by_user.Name }}" required disabled>
    </div>
    <div class="md:mx-3"></div>
    <div class="w-full md:mb-0 mb-3">
      <label for="assigned_to" class="block mb-2 text-sm font-medium text-gray-900">Assigned to <span
          class="text-red-600">*</span></label>
      <select id="assigned_to" name="AssignedTo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
        <option value="">-- Select --</option>
        {% for all_user in all_users %}
        <option value="{{ all_user.id }}" {% if subtask.AssignedTo==all_user.id or (not subtask.AssignedTo and
          loop.first) %}selected{% endif %}>{{ all_user.Name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="flex items-center md:flex-row flex-col mb-3">
    <div class="w-full md:mb-0 mb-3">
      <label for="SubtaskType" class="block mb-2 text-sm font-medium text-gray-900">Subtask Type <span
          class="text-red-600">*</span></label>
      <select id="SubtaskType" name="SubtaskType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
        <option value="Task" {% if subtask.Type=="Task" %}selected{% endif %}>Task</option>
        <option value="Bug" {% if subtask.Type=="Bug" %}selected{% endif %}>Bug</option>
      </select>
    </div>
    <div class="md:mx-3"></div>
    <div class="w-full md:mb-0 mb-3">
      <label for="SubtaskPriority" class="block mb-2 text-sm font-medium text-gray-900">Subtask Priority <span
          class="text-red-600">*</span></label>
      <select id="SubtaskPriority" name="SubtaskPriority" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
        <option value="Urgent" {% if subtask.Priority=="Urgent" %}selected{% endif %}>Urgent</option>
        <option value="High" {% if subtask.Priority=="High" %}selected{% endif %}>High</option>
        <option value="Medium" {% if subtask.Priority=="Medium" %}selected{% endif %}>Medium</option>
        <option value="Low" {% if subtask.Priority=="Low" %}selected{% endif %}>Low</option>
      </select>
    </div>
  </div>


  <div class="flex items-center md:flex-row flex-col mb-3">
    <div class="w-full md:mb-0 mb-3">
      <label for="StartDate" class="block mb-2 text-sm font-medium text-gray-900">Start Date <span
          class="text-red-600">*</span></label>
      <input type="date" id="StartDate" name="StartDate"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        value="{{ subtask.StartDate }}" required>
    </div>
    <div class="md:mx-3"></div>
    <div class="w-full md:mb-0 mb-3">
      <label for="EndDate" class="block mb-2 text-sm font-medium text-gray-900">End Date <span
          class="text-red-600">*</span></label>
      <input type="date" id="EndDate" name="EndDate"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        value="{{ subtask.EndDate }}" required>
    </div>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center">Update</button>
</form>

{% endblock %}