{% extends "base_layout.html" %}

{% block title %}
Update Epic - {{ epic.EpicName }} 
{% endblock %}

{% block main %}

<!-- Breadcrumb -->
<nav class="flex text-gray-700 shadow-none p-0 border-b pb-3 bg-transparent my-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3 capitalize">
    <li class="inline-flex items-center">
      <a href="{{ url_for('show_user_home') }}"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a href="{{ url_for('show_projects') }}"
          class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2">Projects</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a href="{{ url_for('epic_details', epic_id=epic.id) }}"
          class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2">Epic Details</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Update Epic</span>
      </div>
    </li>
  </ol>
</nav>



<h2 class="text-center text-xl uppercase font-bold mb-6">Update Epic - {{ epic.EpicName }}</h2>

<form method="POST" action="" class="max-w-screen-sm mx-auto my-0 bg-white p-3 rounded-md shadow-sm">
  <div class="mb-3">
    <label for="EpicName" class="block mb-2 text-sm font-medium text-gray-900">Epic Name <span
        class="text-red-600">*</span></label>
    <input type="text" id="EpicName" name="EpicName" value="{{ epic.EpicName }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>
  </div>

  <div class="mb-3">
    <label for="EpicDescription" class="block mb-2 text-sm font-medium text-gray-900">Epic Description <span
        class="text-red-600">*</span></label>
    <textarea id="EpicDescription" name="EpicDescription" rows="5"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>{{ epic.EpicDescription }}</textarea>
  </div>

  <div class="mb-3">
    <label for="CreatedBy" class="block mb-2 text-sm font-medium text-gray-900">Created By</label>
    <input type="text" id="CreatedBy" name="CreatedBy" value="{{ epic.CreatedBy }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required disabled>
  </div>

  <div class="flex items-center md:flex-row flex-col mb-3">
    <div class="w-full md:mb-0 mb-3">
      <label for="StartDate" class="block mb-2 text-sm font-medium text-gray-900">Start Date <span
          class="text-red-600">*</span></label>
      <input type="date" id="StartDate" name="StartDate" value="{{ epic.StartDate }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
    </div>
    <div class="md:mx-3"></div>
    <div class="w-full md:mb-0 mb-3">
      <label for="EndDate" class="block mb-2 text-sm font-medium text-gray-900">End Date <span
          class="text-red-600">*</span></label>
      <input type="date" id="EndDate" name="EndDate" value="{{ epic.EndDate }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
    </div>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center">Update</button>
</form>
{% endblock %}
