{% extends 'base_layout.html' %}

{% block title %}
View Users and Change User Roles
{% endblock %}
{% block main %}
<script>
    function updateUserRole(newRole, userId) {
        fetch(`/update_user_role/${userId}/${newRole}`)
        .then(response => {
            console.log('User role updated successfully');
        })
        .catch(error => {
            console.log('Error updating user role:', error);
        });
    }
</script>



<style>
    .tableFixHead {
        overflow: auto;
        height: 100px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        /* background-color: rgb(249 250 251); */
        background-color: #3A75F5;
    }

    .table_body tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    .table_body tr:nth-child(odd) {
        background-color: #fff;
    }
</style>



<div>
    <h2 class="mb-4 pt-4 text-xl uppercase font-bold">User List</h2>

    <div class="relative overflow-x-auto shadow-md rounded-md" style="height: 460px;">
        <table class="w-full text-sm text-left text-gray-500 tableFixHead">
            <thead class="text-xs text-white uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">User ID</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Designation</th>
                    <th scope="col" class="px-6 py-3 w-40 md:w-auto">User Role</th>
                </tr>
            </thead>
            <tbody class="table_body">
                {% for user in users %}
                <tr class="text-black border-b">
                    <td class="px-6 py-3">{{ user.id }}</td>
                    <td class="px-6 py-2 font-medium">{{ user.Name }}</td>
                    <td class="px-6 py-2">{{ user.Email }}</td>
                    <td class="px-6 py-2">{{ user.Designation }}</td>
                    <td class="px-6 py-2 w-40 md:w-auto">
                        <select name="user_role" onchange="updateUserRole(this.value, {{ user.id }})"
                            class="w-40 md:w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                            <option value="Admin" {% if user.User_Role=='Admin' %}selected{% endif %}>Admin</option>
                            <option value="Manager" {% if user.User_Role=='Manager' %}selected{% endif %}>Manager</option>
                            <option value="Team Lead" {% if user.User_Role=='Team Lead' %}selected{% endif %}>Team Lead
                            </option>
                            <option value="Member" {% if user.User_Role=='Member' %}selected{% endif %}>Member</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}